<form onsubmit={{action "saveChanges"}}>
  <div>
    <label>FIrst</label>
    {{input type="text" placeholder="first" value=first}}
  </div>
  <div>
    <label>Last</label>
    {{input type="text" placeholder="last" value=last}}
  </div>
  <div>
    <label>Email</label>
    {{input type="text" placeholder="email" value=email}}
  </div>
  <button type="submit">Submit</button>
</form>